
<div class="features_items">
    <h2 class="title text-center">Chi tiết sản phẩm</h2>
    <marquee width="96%" behavior="alternate" bgcolor="#fe980f" style="margin-left:2%;margin-bottom:3%;border:2px solid black">
        <h2 class="title1 text-center" style="color:black; font-size:18px; text-transform:uppercase;width:60%">
            Sản phẩm 
        </h2>
    </marquee>
    <br>
    <div class="product-details">
        <div class="col-sm-5">
            <div class="view-product">
                <img src="{{productdetail?.image}}"  data-imagezoom="true" alt="" />
            </div>
            <br>
            
            <span class="view-product">
                <img style="height:30%;width:30%" src="{{imageDetail?.detailImage}}" data-imagezoom="true" data-magnification="5" alt="" />
            </span>
            <span class="view-product">
                <img  style="height:30%;width:30%; margin-left:3%" src="{{imageDetail?.detailImage2}}" data-imagezoom="true" data-magnification="5" alt="" />
            </span>
            <span class="view-product">
                <img style="height:30%;width:30%; margin-left:3%" src="{{imageDetail?.detail_Image1}}" data-imagezoom="true" data-magnification="5" alt="" />
            </span>
            
        </div>

        <div class="col-sm-7">
            <div class="product-information">
                <img src="assets/images/product-details/new.jpg" class="newarrival"
                    alt="" />   

                <img style="display:block;position: absolute;top: 0;left: 0;"
                    src="assets/images/home/hf.jpg" class="proend" alt="" *ngIf="productdetail?.quantity == 0"/>
                    <img style="display:none"
                    src="assets/images/home/hf.jpg" class="proend" alt="" *ngIf="productdetail?.quantity != 0"/>
                
                <h2>{{productdetail?.name_Product}}</h2>
                <p>
                    Mã Sản Phẩm:
                    {{idProduct}}
                </p>
                <img src="assets/images/product-details/rating.png" alt="" /> 
                <br/> 
                <span>
                    <span>
                        <span *ngIf="productdetail?.sale == 0" style="color:transparent">{{productdetail?.price}} VNĐ</span>
                        <span *ngIf="productdetail?.sale != 0" style="display: block;color: #FE980F; font-family: 'Roboto', sans-serif;font-size: 18px;font-weight: 700; text-decoration: line-through;">
                            {{productdetail?.price}} VNĐ</span>
                    </span>
                    <br/>
                    <span>{{productdetail?.price - productdetail?.sale}} VNĐ</span> 
                </span>

                <p>
                    <button href="" type="button" *ngIf="productdetail?.quantity == 0" style="pointer-events: none; background:#DDDDDD" (click)="addToCart(productdetail)"
                        class="btn btn-fefault cart"> <i
                        class="fa fa-shopping-cart"></i> Thêm vào giỏ
                    </button>
                    <button href="" type="button" *ngIf="productdetail?.quantity != 0" style=" pointer-events: auto;" (click)="addToCart(productdetail)"
                        class="btn btn-fefault cart"> <i
                        class="fa fa-shopping-cart"></i> Thêm vào giỏ
                    </button>
                </p>
                <br/>

                <p>
                    <b>Số lượng</b>: còn
                    {{productdetail?.quantity}}
                    sản phẩm
                </p>
                <p>
                    <b>Nhãn Hiệu:</b>
                </p>
                <p>
                    <b>Mô tả sản phẩm:</b> {{productdetail?.describe}}
                </p>
                <div class="fb-like"
                    data-href="https://www.facebook.com/hop.spirit"
                    data-layout="standard" data-action="like" data-size="small"
                    data-show-faces="true" data-share="true"></div>
            </div>
        </div>
    </div>
</div>

<div class="features_items tim-kiem">
    <div class="category-tab tim-kiem" >
        <div class="col-sm-12 tim-kiem">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="SẢN PHẨM KHÁC">

                    <div class="col-sm-4 tim-kiem" *ngFor="let product of products">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{product.image}}" alt="" />
                                    <h2>{{product.price - product.sale}}</h2>
                                    <h4 *ngIf="product.sale == 0" style="color:transparent">{{product.price}}</h4> <!-- sale -->
                                    <h4 *ngIf="product.sale != 0">{{product.price}}</h4> <!-- sale -->
                                    <p style="font-weight: bold;">{{product.name_Product}}</p>
                                    <p  style="font-size:12px">
                                        <b>Số lượng</b>: còn {{product.quantity}} sản phẩm
                                    </p>
                                    <button (click)="addToCart(product)" style=" pointer-events: auto; padding: 6px 12px; margin-bottom: 20px;"
								        class="btn btn-default add-to-cart" *ngIf="product.quantity != 0">
                                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                    <img class="img-product"
                                        src="assets/images/home/hf.jpg" alt="" *ngIf="product.quantity == 0"/>
                                </div>

                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <img src="{{product.image}}" alt="" />
                                        <h2>{{product.price - product.sale}}</h2>
                                        <h4 style="color:#219AFC;" >{{product.price}}</h4> 
                                        <p style="font-weight: bold;">{{product.name_Product}}</p>
                                        <button style=" pointer-events: auto; background-color: #fff !important;" (click)="addToCart(product)"												
									        class="btn btn-default add-to-cart" *ngIf="product.quantity != 0"><i
									        class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                        <img class="img-product"
                                            src="assets/images/home/hf.jpg" alt="" *ngIf="product.quantity == 0"/>   
                                    </div>
                                </div>
                                <img src="assets/images/home/new.png" class="new" alt="" />                               
                            </div>
                            <div class="choose" style="text-align: center;">
                                <ul class="nav nav-pills nav-justified" style="background:#219AFC !important;">
                                    <li style="width: 100%"><a href="/pages-user/detailproduct/{{product.id_Product}}"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>                                  
                                </ul>
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="BÌNH LUẬN">Bình luận</mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>