<section id="slider"><!--slider-->
	<div class="container">
    <div class="row">
			<div class="col-sm-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-sm-6">
								<h1>
									<span>TS</span>-HOMEWARE
								</h1>
								<h2>Cửa Hàng Bán Đồ Gia Dụng</h2>
								<p>• Thân nồi được làm từ chất liệu Anod cao cấp, 
                  không biến dạng khi va đập. Vung nồi làm từ kính chịu nhiệt hai lớp dày 5mm. </p>
                <p>• Quai núm được nhập khẩu từ Hàn Quốc được làm từ nhựa chịu nhiệt </p> 
								<p>• An toàn cho sức khỏe, không làm biến đổi thành phần chất dinh dưỡng của thực phẩm.</p>
								<p>• Đến từ thương hiệu Singapore - Bluestone, sản xuất tại Trung Quốc.</p>
                
								<a href="/pages-user/detailproduct/102" class="btn btn-primary get">Xem Chi Tiết</a>
							</div>
              <div class="col-sm-6">
                <img class="d-block img-fluid" src="assets/images/home/slide1.jpg" alt="First slide" style="height:441px">
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-sm-6">
								<h1>
									<span>TS</span>-HOMEWARE
								</h1>
								<h2>Sản Phẩm Mới </h2>
								<p>• Công suất: 250WDung tích cối: 1.2L. 
                <p>• Lưỡi dao răng cưa bằng thép không gỉ giúp xay thực phẩm nhuyễn hơn và an toàn cho sức khỏe.</p>
								<p>• Thuận tiện với chức năng xay sinh tố và xay ngũ cốc. <br> Chức nắng khóa an toàn</p>
								<p>• Đến từ thương hiệu Singapore - Bluestone, sản xuất tại Trung Quốc.</p>
                
								<a  href="/pages-user/detailproduct/105" class="btn btn-primary get">Xem Chi Tiết</a>
							</div>
              <div class="col-sm-6">
                <img class="d-block img-fluid" src="assets/images/home/slide2.jpg" alt="Second slide">
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-sm-6">
								<h1>
									<span>TS</span>-HOMEWARE
								</h1>
								<h2>Đặc Điểm Nổi Bật</h2>
								<p>• Nồi cơm điện dung tích 1.8 lít cho gia đình 4 – 6 người dùng.</p>
								<p>• Lòng nồi hợp kim nhôm tráng men chống dính dễ vệ sinh.</p>
								<p>• 3 mâm nhiệt nấu cơm chín đều, chín ngon.</p>
								<p>• Van thoát hơi thông minh bảo toàn vitamin sẵn có trong gạo.</p>
								<p>• Đến từ thương hiệu Singapore - Bluestone, sản xuất tại Trung Quốc.</p>
								
								<a  href="/pages-user/detailproduct/103" class="btn btn-primary get">Xem Chi Tiết</a>
							</div>
              <div class="col-sm-6">
                <img class="d-block img-fluid" src="assets/images/home/slide3.jpg" alt="Third slide">
              </div>
            </div>

          </div>
          <a href="#carouselExampleIndicators" class="left control-carousel hidden-xs"
						data-slide="prev"> <i class="fa fa-angle-left"></i>
					</a>
          <a href="#carouselExampleIndicators"
						class="right control-carousel hidden-xs" data-slide="next"> 
            <i class="fa fa-angle-right"></i>
					</a>
        </div>
      </div>
    </div>
  </div>
        
</section>
