
<form class="navbar-nav mr-auto" style="flex-direction: row;">
    <input type="text" id= "text-Search" class="form-control py-2 border-right-0 border" style="width:120%; background-color: transparent!important;
    border-right: none !important; padding:18px 15px;position:relative" type="text" placeholder="Tìm kiếm...">
    <span class="input-group-append">
      <button class="input-group-text bg-transparent" style="border-left: none;" (click)="$event.preventDefault(); search()"><i class="fa fa-search"></i></button>
    </span>
</form>
<br/>

<div class="features_items" *ngIf="searchProducts.length > 0">
    <h2 class="title text-center">Danh Sách Sản Phẩm</h2>
    <marquee width="96%" behavior="alternate" bgcolor="#fe980f" style="margin-left:2%;margin-bottom:3%;border:2px solid black" *ngIf="searchProducts.length > 0">
        <h2 class="title1 text-center" style="color:black; font-size:18px; text-transform:uppercase;width:60%" >
            Sản phẩm tìm kiếm được
        </h2>
    </marquee>
    <div style="display: flex; flex-wrap: wrap;">
        <div class="col-sm-4 tim-kiem" *ngFor="let searchProduct of searchProducts">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="{{searchProduct.image}}" alt="" />
                        <h2>{{searchProduct.pricesale}}</h2>
                        <h4 *ngIf="searchProduct.sale == 0" style="color:transparent">{{searchProduct.price}}</h4> <!-- sale -->
                        <h4 *ngIf="searchProduct.sale != 0">{{searchProduct.price}}</h4> <!-- sale -->
                        <p style="font-weight: bold;">{{searchProduct.name_Product}}</p>
                        <p  style="font-size:12px">
                            <b>Số lượng</b>: còn {{searchProduct.quantity}} sản phẩm
                        </p>
                        <button (click)="addToCart(searchProduct)" style=" pointer-events: auto; padding: 6px 12px;"
                            class="btn btn-default add-to-cart" *ngIf="searchProduct.quantity != 0">
                            <i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                        <img class="img-product"
                            src="assets/images/home/hf.jpg" alt="" *ngIf="searchProduct.quantity == 0"/>
                    </div>

                    <div class="product-overlay">
                        <div class="overlay-content">
                            <img src="{{searchProduct.image}}" alt="" />
                            <h2>{{searchProduct.pricesale}}</h2>
                            <h4>{{searchProduct.price}}</h4> 
                            <p style="font-weight: bold;">{{searchProduct.name_Product}}</p>
                            <button style=" pointer-events: auto; background-color: #fff !important;" (click)="addToCart(searchProduct)"												
                                class="btn btn-default add-to-cart" *ngIf="searchProduct.quantity != 0"><i
                                class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                            <img class="img-product"
                                    src="assets/images/home/hf.jpg" alt="" *ngIf="searchProduct.quantity == 0"/>
                        </div>
                    </div>
                    <img src="assets/images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose" style="text-align: center;">
                    <ul class="nav nav-pills nav-justified" style="background:#219AFC !important;">
                        <li style="width: 100%;padding: 10px 0"><a href="/pages-user/detailproduct/{{searchProduct.id_Product}}"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>                                  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features_items" *ngIf="idCate != undefined">
    <h2 class="title text-center">Danh Sách Sản Phẩm</h2>
    <marquee width="96%" behavior="alternate" bgcolor="#fe980f" style="margin-left:2%;margin-bottom:3%;border:2px solid black" *ngIf="productsByCate != ''">
        <h2 class="title1 text-center" style="color:black; font-size:18px; text-transform:uppercase;width:60%" >
            Sản phẩm theo loại
        </h2>
    </marquee>
    <div style="display: flex; flex-wrap: wrap;">
        <div class="col-sm-4 tim-kiem" *ngFor="let productByCate of productsByCate">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="{{productByCate.image}}" alt="" />
                        <h2>{{productByCate.pricesale}}</h2>
                        <h4 *ngIf="productByCate.sale == 0" style="color:transparent">{{productByCate.price}}</h4> <!-- sale -->
                        <h4 *ngIf="productByCate.sale != 0">{{productByCate.price}}</h4> <!-- sale -->
                        <p style="font-weight: bold;">{{productByCate.name_Product}}</p>
                        <p  style="font-size:12px">
                            <b>Số lượng</b>: còn {{productByCate.quantity}} sản phẩm
                        </p>
                        <button (click)="addToCart(productByCate)" style=" pointer-events: auto; padding: 6px 12px;"
                            class="btn btn-default add-to-cart" *ngIf="productByCate.quantity != 0">
                            <i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                        <img class="img-product"
                            src="assets/images/home/hf.jpg" alt="" *ngIf="productByCate.quantity == 0"/>
                    </div>

                    <div class="product-overlay">
                        <div class="overlay-content">
                            <img src="{{productByCate.image}}" alt="" />
                            <h2>{{productByCate.pricesale}}</h2>
                            <h4>{{productByCate.price}}</h4> 
                            <p style="font-weight: bold;">{{productByCate.name_Product}}</p>
                            <button style=" pointer-events: auto; background-color: #fff !important;" (click)="addToCart(productByCate)"												
                                class="btn btn-default add-to-cart" *ngIf="productByCate.quantity != 0"><i
                                class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                            <img class="img-product"
                                    src="assets/images/home/hf.jpg" alt="" *ngIf="productByCate.quantity == 0"/>
                        </div>
                    </div>
                    <img src="assets/images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose" style="text-align: center;">
                    <ul class="nav nav-pills nav-justified" style="background:#219AFC !important;">
                        <li style="width: 100%;padding: 10px 0"><a href="/pages-user/detailproduct/{{productByCate.id_Product}}"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>                                  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features_items" *ngIf="idBrand != undefined">
    <h2 class="title text-center">Danh Sách Sản Phẩm</h2>
    <marquee width="96%" behavior="alternate" bgcolor="#fe980f" style="margin-left:2%;margin-bottom:3%;border:2px solid black" *ngIf="productsByCate != ''">
        <h2 class="title1 text-center" style="color:black; font-size:18px; text-transform:uppercase;width:60%" >
            Sản phẩm theo hãng
        </h2>
    </marquee>
    <div style="display: flex; flex-wrap: wrap;">
        <div class="col-sm-4 tim-kiem" *ngFor="let productByBrand of productsByBrand">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="{{productByBrand.image}}" alt="" />
                        <h2>{{productByBrand.pricesale}}</h2>
                        <h4 *ngIf="productByBrand.sale == 0" style="color:transparent">{{productByBrand.price}}</h4> <!-- sale -->
                        <h4 *ngIf="productByBrand.sale != 0">{{productByBrand.price}}</h4> <!-- sale -->
                        <p style="font-weight: bold;">{{productByBrand.name_Product}}</p>
                        <p  style="font-size:12px">
                            <b>Số lượng</b>: còn {{productByBrand.quantity}} sản phẩm
                        </p>
                        <button style=" pointer-events: auto; padding: 6px 12px;" (click)="addToCart(productByBrand)"
                            class="btn btn-default add-to-cart" *ngIf="productByBrand.quantity != 0">
                            <i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                        <img class="img-product"
                            src="assets/images/home/hf.jpg" alt="" *ngIf="productByBrand.quantity == 0"/>
                    </div>

                    <div class="product-overlay">
                        <div class="overlay-content">
                            <img src="{{productByBrand.image}}" alt="" />
                            <h2>{{productByBrand.pricesale}}</h2>
                            <h4>{{productByBrand.price}}</h4> 
                            <p style="font-weight: bold;">{{productByBrand.name_Product}}</p>
                            <button  style=" pointer-events: auto; background-color: #fff !important;" (click)="addToCart(productByBrand)"												
                                class="btn btn-default add-to-cart" *ngIf="productByBrand.quantity != 0"><i
                                class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                            <img class="img-product"
                                    src="assets/images/home/hf.jpg" alt="" *ngIf="productByBrand.quantity == 0"/>
                        </div>
                    </div>
                    <img src="assets/images/home/new.png" class="new" alt="" />
                </div>
                <div class="choose" style="text-align: center;">
                    <ul class="nav nav-pills nav-justified" style="background:#219AFC !important;">
                        <li style="width: 100%;padding: 10px 0"><a href="/pages-user/detailproduct/{{productByBrand.id_Product}}"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>                                  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features_items">
    <marquee width="96%" behavior="alternate" bgcolor="#fe980f" style="margin-left:2%;margin-bottom:3%;border:2px solid black">
        <h2 class="title1 text-center" style="color:black; font-size:18px; text-transform:uppercase;width:60%">
            Sản phẩm 
        </h2>
    </marquee>
    <br>
</div>

<div class="features_items tim-kiem">
    <div class="category-tab tim-kiem" >
        <div class="col-sm-12 tim-kiem">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="TỔNG HỢP SẢN PHẨM">

                    <div class="col-sm-4 tim-kiem" *ngFor="let product of products">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{product.image}}" alt="" />
                                    <h2>{{product.pricesale}}</h2>
                                    <h4 *ngIf="product.sale == 0" style="color:transparent">{{product.price}}</h4> <!-- sale -->
                                    <h4 *ngIf="product.sale != 0">{{product.price}}</h4> <!-- sale -->
                                    <p style="font-weight: bold;">{{product.name_Product}}</p>
                                    <p  style="font-size:12px">
                                        <b>Số lượng</b>: còn {{product.quantity}} sản phẩm
                                    </p>
                                    <button style=" pointer-events: auto; padding: 6px 12px;" (click)="addToCart(product)"
								        class="btn btn-default add-to-cart" *ngIf="product.quantity != 0">
                                        <i class="fa fa-shopping-cart" ></i>Thêm vào giỏ</button>
                                    <img class="img-product"
                                        src="assets/images/home/hf.jpg" alt="" *ngIf="product.quantity == 0"/>
                                </div>

                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <img src="{{product.image}}" alt="" />
                                        <h2>{{product.pricesale}}</h2>
                                        <h4 >{{product.price}}</h4> 
                                        <p style="font-weight: bold;">{{product.name_Product}}</p>
                                        <button style=" pointer-events: auto; background-color: #fff !important;" (click)="addToCart(product)"													
									        class="btn btn-default add-to-cart" *ngIf="product.quantity != 0"><i
									        class="fa fa-shopping-cart" ></i>Thêm vào giỏ</button>
                                        <img class="img-product"
                                            src="assets/images/home/hf.jpg" alt="" *ngIf="product.quantity == 0"/>   
                                    </div>
                                </div>
                                <img src="assets/images/home/new.png" class="new" alt="" />                               
                            </div>
                            <div class="choose" style="text-align: center;">
                                <ul class="nav nav-pills nav-justified" style="background:#219AFC !important;">
                                    <li style="width: 100%"><a href="/pages-user/detailproduct/{{product.id_Product}}"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>                                  
                                </ul>
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="SẢN PHẨM KHUYẾN MÃI">

                    <div class="col-sm-4 tim-kiem" *ngFor="let saleproduct of saleProducts">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{saleproduct.image}}" alt="" />
                                    <h2>{{saleproduct.pricesale}}</h2>
                                    <h4 *ngIf="saleproduct.sale == 0" style="color:transparent">{{saleproduct.price}}</h4> <!-- sale -->
                                    <h4 *ngIf="saleproduct.sale != 0">{{saleproduct.price}}</h4> <!-- sale -->
                                    <p style="font-weight: bold;">{{saleproduct.name_Product}}</p>
                                    <p  style="font-size:12px">
                                        <b>Số lượng</b>: còn {{saleproduct.quantity}} sản phẩm
                                    </p>
                                    <button style=" pointer-events: auto; padding: 6px 12px;" (click)="addToCart(saleproduct)"
								        class="btn btn-default add-to-cart" *ngIf="saleproduct.quantity != 0">
                                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                    <img class="img-product"
                                        src="assets/images/home/hf.jpg" alt="" *ngIf="saleproduct.quantity == 0"/>
                                </div>

                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <img src="{{saleproduct.image}}" alt="" />
                                        <h2>{{saleproduct.pricesale}}</h2>
                                        <h4  >{{saleproduct.price}}</h4> 
                                        <p style="font-weight: bold;">{{saleproduct.name_Product}}</p>
                                        <button style=" pointer-events: auto; background-color: #fff !important;" (click)="addToCart(saleproduct)"											
									        class="btn btn-default add-to-cart" *ngIf="saleproduct.quantity != 0"><i
									        class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                        <img class="img-product"
                                            src="assets/images/home/hf.jpg" alt="" *ngIf="saleproduct.quantity == 0"/>   
                                    </div>
                                </div>
                                <img src="assets/images/home/sale.png" class="new" alt="" />                               
                            </div>
                            <div class="choose" style="text-align: center;">
                                <ul class="nav nav-pills nav-justified" style="background:#219AFC !important;">
                                    <li style="width: 100%"><a href="/pages-user/detailproduct/{{saleproduct.id_Product}}"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>                                  
                                </ul>
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="BÁN CHẠY NHẤT">
                    <div class="col-sm-4 tim-kiem" *ngFor="let salefastlyproduct of salefastlyProducts">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="{{salefastlyproduct.image}}" alt="" />
                                    <h2>{{salefastlyproduct.pricesale}}</h2>
                                    <h4 *ngIf="salefastlyproduct.sale == 0" style="color:transparent">{{salefastlyproduct.price}}</h4> <!-- sale -->
                                    <h4 *ngIf="salefastlyproduct.sale != 0">{{salefastlyproduct.price}}</h4> <!-- sale -->
                                    <p style="font-weight: bold;">{{salefastlyproduct.name_Product}}</p>
                                    <p  style="font-size:12px">
                                        <b>Số lượng</b>: còn {{salefastlyproduct.quantity}} sản phẩm
                                    </p> 
                                    <p  style="font-size:12px">
                                        <b>Số lượng bán được</b>: {{salefastlyproduct.salednumber}} sản phẩm
                                    </p> 
                                    <button style=" pointer-events: auto; padding: 6px 12px;" (click)="addToCart(salefastlyproduct)"
								        class="btn btn-default add-to-cart" *ngIf="salefastlyproduct.quantity != 0">
                                        <i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                    <img class="img-product"
                                        src="assets/images/home/hf.jpg" alt="" *ngIf="salefastlyproduct.quantity == 0"/>
                                </div>

                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <img src="{{salefastlyproduct.image}}" alt="" />
                                        <h2>{{salefastlyproduct.pricesale}}</h2>
                                        <h4 >{{salefastlyproduct.price}}</h4> 
                                        <p style="font-weight: bold;">{{salefastlyproduct.name_Product}}</p>
                                        <button style=" pointer-events: auto; background-color: #fff !important;" (click)="addToCart(salefastlyproduct)"												
									        class="btn btn-default add-to-cart" *ngIf="salefastlyproduct.quantity != 0"><i
									        class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                                        <img class="img-product"
                                            src="assets/images/home/hf.jpg" alt="" *ngIf="salefastlyproduct.quantity == 0"/>   
                                    </div>
                                </div>
                                <img src="assets/images/home/banchay.png" class="new" alt="" />                               
                            </div>
                            <div class="choose" style="text-align: center;">
                                <ul class="nav nav-pills nav-justified" style="background:#219AFC !important;">
                                    <li style="width: 100%"><a href="/pages-user/detailproduct/{{salefastlyproduct.id_Product}}"><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <mat-paginator [length]="length"
                [showFirstLastButtons]="true"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvents($event)"
               aria-label="Select page">
    </mat-paginator>
</div>