<nb-card>
    <nb-card-header>THÊM MỚI NGƯỜI DÙNG</nb-card-header>
    <nb-card-body>
        <form style="width: 500px"> 
            <div class="form-group row">
              <label for="inputUserName" class="label col-sm-5 col-form-label">Tên người dùng</label>
              <div class="col-sm-7">
                <input type="text" nbInput fullWidth id="inputUserName" placeholder="Tên người dùng">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail" class="label col-sm-5 col-form-label">Email</label>
              <div class="col-sm-7">
                <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email" >
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="label col-sm-5 col-form-label">Mật khẩu</label>
              <div class="col-sm-7">
                <input type="text" nbInput fullWidth id="inputPassword" placeholder="Mật khẩu">
              </div>
            </div>
            <span *ngIf="errMsg != ''" style="text-align: center; color: red;">{{errMsg}}</span>
          </form>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-6 center">
          <button class="cancel" nbButton status="danger" (click)="cancel()">Hủy</button>
        </div>
        <div class="col-sm-6 center">
          <button nbButton status="success" (click)="submit()">Lưu</button>
        </div>
      </div>
    </nb-card-footer>
</nb-card>