<nb-card>
    <nb-card-header>CẬP NHẬT TRẠNG THÁI HÓA ĐƠN</nb-card-header>
    <nb-card-body>
        <form style="width: 500px"> 
            <div class="form-group row">
              <label for="inputStatus" class="label col-sm-5 col-form-label">Trạng thái</label>
              <div class="col-sm-7">
                <nb-select id="inputStatus" [(selected)]="selected">
                    <nb-option value="1">Đã Thanh Toán</nb-option>
                    <nb-option value="2">Chờ Xử Lý</nb-option>
                    <nb-option value="3">Đã hủy</nb-option>
                    <nb-option value="4">Đang giao</nb-option>
                </nb-select>
              </div>
            </div>
          </form>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-sm-6 center">
          <button class="cancel" mat-button mat-dialog-close style="background-color: #ff3d71;
          border-color: #ff3d71;
          color: #ffffff;" >Hủy</button>
        </div>
        <div class="col-sm-6 center">
          <button mat-button style="background-color: #00d68f;
          border-color: #00d68f;
          color: #ffffff;" (click)="submit();">Lưu</button>
        </div>
      </div>
    </nb-card-footer>
</nb-card>

