<section style="margin-top: 0" id="page-content">
    <div class="container">
        <!-- Form nhập nội dung bảo hành -->
        <div class="center-content">
            <h3>TRUNG TÂM BẢO HÀNH TS-HOMEWARE</h3>
            <p>Tất cả trung tâm bảo hành ủy quyền TS-HOMEWARE trên toàn quốc đều được đào tạo và chỉ sử dụng linh kiện chính hãng TS-HOMEWARE trong mọi hoạt động sửa chữa.</p>
            <p>Tra cứu hạn bảo hành (<i>Nhập số seri, sau đó click tra cứu để lấy dữ liệu</i>).</p>
            <div class="check-bh">
                <input id="text_seri" type="text" placeholder="Nhập số seri"> 
                <button class="btn btn-info btn-lg" type="button" class="btn btn-primary">
                    <i class="fas fa-search" (click)="submit()"></i>
                </button>
                <button id="btn-check" class="btn btn-info btn-lg" type="button" hidden class="btn btn-primary" 
                    data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <br>
            <a data-toggle="collapse" href="#demo" role="button" aria-expanded="false" aria-controls="collapseExample">
                    >>> Chính sách bảo hành của TS-HOMEWARE
            </a>
            
        </div>
        
        <!-- Chính sách bảo hành -->
        <div id="demo" class="bottom-content collapse">
            <h2>Chính sách bảo hành nhóm hàng gia dụng tại TS-HOMEWARE</h2>
            <p>(Nhóm hàng điện gia dụng bao gồm: lò nướng, bếp các loại, máy xay/ép, bàn ủi, nồi cơm điện, lẩu
                điện, bình siêu tốc, quạt,...)</p>
            <h3>1. Điều kiện để được bảo hành</h3>
            <ul>
                <li>Đối với sản phẩm không dán tem bảo hành điện tử: Sản phẩm sẽ có tem bảo hành, phiếu bảo
                        hành kèm theo (Phiếu bảo hành phải còn thời hạn bảo hành và ghi đầy đủ thông tin: model, số serial,
                        tên khách hàng, ngày mua hàng), hoặc giấy tờ chứng minh được sản phẩm còn thời hạn bảo hành.</li>
                <li>Trường hợp mất phiếu bảo hành, phiếu bảo hành không hợp lệ hoặc mất Giấy tờ chứng minh sản phẩm còn
                        bảo hành: sản phẩm vẫn được bảo hành miễn phí nếu sản phẩm còn trong thời hạn bảo hành. Thời hạn bảo
                        hành sản phẩm được tính như sau:</li>
            </ul>
            <p>(Ngày sản xuất được in trên tem bảo hành sản phẩm).</p>
            <h3>2. Điều kiện từ chối bảo hành</h3>
            <p>Trung tâm bảo hành của Công ty và các Trung tâm bảo hành ủy quyền sẽ từ chối bảo hành đối với các sản
                phẩm thuộc trường hợp sau:
            </p>
            <ul>
                <li>Sản phẩm không có tem bảo hành khi sửa chữa lần đầu tiên hoặc tem bị rách (có dấu hiệu đã mở sản
                    phẩm)</li>
                <li>Sản phẩm bị hư hỏng do các trường hợp bất khả kháng như: thiên tai, lũ lụt, hỏa hoạn…</li>
                <li>Sản phẩm hư hỏng do sử dụng sai nguồn điện, các mối tiếp điện không tốt, nguồn nước bị ô nhiễm …</li>
                <li>Sản phẩm sử dụng không đúng theo hướng dẫn, lắp đặt sai quy cách quy định của Nhà sản xuất.</li>
                <li>Sản phẩm bị thay đổi, điều chỉnh của bên thứ 3 không thuộc hệ thống bảo hành của SUNHOUSE.</li>
                <li>Sản phẩm bị mối mọt, oxy hóa, hoen rỉ …do đặt trong môi trường ẩm ướt, bảo quản không đúng cách.</li>
                <li>Sản phẩm bị cong vênh, rạn nứt, trầy xước, bể vỡ….</li>
                <li>Sản phẩm hết hạn bảo hành theo thời hạn được ghi trên phiếu bảo hành.</li>
            </ul>
        
            <p>Lưu ý: Không bảo hành phụ kiện sản phẩm</p>
            <h3>3. Sản phẩm hết hạn bảo hành</h3>
            <p>- Các sản phẩm hết hạn bảo hành được quy định là các sản phẩm ngoài điều kiện bảo hành thi
                sẽ áp dụng tính phí theo bảng giá phí dịch vụ đính kèm SH-BH-CSBH-01-PL01( Áp dụng cho
                các sản phẩm hết hạn bảo hành thuộc các ngành hàng : Điện gia dụng, Thiết bị nhà bếp, Điện tử- Điện
                lạnh( Trừ sản phẩm điều hòa không khí)).</p>
            <p>- Sản phẩm điều hòa không khí hết hạn bảo hành được quy định là sản phẩm điều hòa không khí ngoài điều
                kiện bảo hành thì sẽ áp dụng tính phí theo bảng giá dịch vụ đính kèm SH-BH-CSBH-01-PL03.
            </p>

            <h3>4. Thời gian sửa chữa</h3>
            <ul>
                <li>Thời gian sửa chữa trung bình là 02 ngày làm việc (1) tính từ lúc nhận hàng của khách hàng
                    đến lúc P.CSKH&BHSP sửa xong cho khách hàng.</li>
                <li>Thời gian sửa chữa tối đa: 10 ngày làm việc đối với những trường hợp đặc biệt (2).</li>
            </ul>

            <p><b>Lưu ý:</b></p>
            <ul>
                <li>(1) Ngày làm việc là thời gian làm việc theo quy định của Trung tâm bảo hành không bao gồm các ngày nghỉ, ngày lễ, tết.</li>
                <li>(2) Trường hợp đặc biệt: là những sản phẩm đổi mới, giảm trừ công nợ, sản phẩm đã dừng sản xuất, phân phối sau thời gian 01 năm, hoặc các sản phẩm cần có chế độ theo dõi kiểm tra nhiều ngày, sản phẩm lỗi chập chờn…có thời gian bảo hành lâu hơn và có thông báo cụ thể khi phát sinh.</li>
            </ul>
        </div>
        
    </div>
    <div>
        <img width="100%" src="assets/images/home/hotline.png" alt="">
    </div>

</section>

<div id="id03" class="modal fade" role="dialog" id="exampleModal" tabindex="-1"aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content animate" >
            <div class="imgcontainer modal-header" style="display: block !important">
                <!-- <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span> -->
                <h3 style="color: #219AFC;text-align:center;font-weight:bold">TRA CỨU HẠN BẢO HÀNH</h3>
            </div>
            <div id="lk" style="display:none; text-align:center; font-weight:bold; color:red; margin-top:25px; margin-bottom:25px"></div>
        
            <div id="po1"  class="container-1">
                <p style="text-align:center"><b>Chào quý khách</b></p>
                <p style="text-align:center">Cảm ơn quý khách đã sử dụng sản phẩm của <span style="color:red">TS-HOMEWARE</span>.</p>
                
            </div>
            
            <div class="row" style="padding-left: 20px">
                <div class="col-lg-5" style="display: flex; flex-direction: column;" >
                    <label for="uname"><b>Tên sản phẩm: </b></label>
                    <label for="uname"><b>Số seri: </b></label>
                    <label for="uname"><b>Ngày mua: </b></label>
                    <label for="uname"><b>Hạn bảo hành: </b></label>
                    <label for="uname"><b>Tình trạng kích hoạt: </b></label>
                </div>
                <div class="col-lg-6" style="display: flex; flex-direction: column;">
                    <span id="productName" class="show-bh" style="float: right;">{{warrantly.nameProduct}}</span>
                    <span id="seriNumber"  class="show-bh" style="float: right;">{{warrantly.idSeri}}</span>
                    <span id="date1"  class="show-bh" style="float: right; ">{{warrantly.purchaseDate}}</span>
                    <div  class="show-bh" style="float: right; color: red;">
                        <span id="date2" style="margin-right:3px" *ngIf="warrantly.WarrantyPeriod == 0">Không bảo hành </span> 
                        <span id="date2" style="margin-right:3px" *ngIf="warrantly.WarrantyPeriod != 0">warrantly.WarrantyPeriod </span> 
                        <span id="th" style="float: right;"> </span>
                    </div>
                    <span  class="show-bh" id="date3" style="float: right; color: red;" *ngIf="warrantly.statusSeri != 1"> Chưa kích hoạt</span>
                    <span  class="show-bh" id="date3" style="float: right; color: green;" *ngIf="warrantly.statusSeri == 1"> Đã kích hoạt</span>
                </div>
            </div>
               
            <button (click)="ok()" id="btn-nhanbh" 
            style="background-color: #219AFC; margin: 20px 180px; padding:10px 10px;border-radius:20px; 
            font-weight:bold; color: white;">Xong
            </button>             	       
        </form>
	</div>
</div>